.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

.article-card {
  border: 4px solid black;
  padding: 25px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-article {
  text-align: center;
  padding: 40px;
}

nav {
  display: flex;
  justify-content: space-around;
  border: 10px solid slateblue;
  font-size: 25px;
}

.votes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.vote-button {
  border: 3px solid black;
  font-weight: bolder;
}

.comment {
  border: 1px solid red;
}

.submit-comment {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.comment-box {
  width: 400px;
  padding-bottom: 80px;
  border: 3px solid black;
}

.comment-form {
  display: flex;
  flex-direction: column;
  padding: 1px;
  align-items: center;
}

.comment-submit {
  width: 80px;
  border: 2px solid black;
}

.article-list {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  text-align: center;
  flex-direction: column;
  padding-right: 30px;
}

.user-identifier {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.header {
  display: flex;
  justify-content: center;
  padding-right: 10px;
  padding-bottom: 20px;
}

.sort-by {
  display: flex;
  justify-content: end;
  padding-top: 10px;
}

.welcomeMsg {
  text-align: center;
  font-size: 32px;
  padding-top: 40px;
}
